# 範例 : 計程車費率預測
https://www.kaggle.com/c/new-york-city-taxi-fare-prediction

# [作業目標]
- 試著模仿範例寫法, 使用程車費率預測競賽練習時間欄位處理

# [作業重點]
- 新增星期幾(day of week)與第幾周(week of year)這兩項特徵, 觀察有什麼影響 (In[4], Out[4], In[5], Out[5])
- 新增加上年週期與周周期特徵 , 觀察有什麼影響 (In[8], Out[8], In[9], Out[9])

In [26]:
# 做完特徵工程前的所有準備
import pandas as pd
import numpy as np
import datetime
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor

data_path = '../Part02/'
df = pd.read_csv(data_path + 'taxi_data1.csv')

train_Y = df['fare_amount']
df = df.drop(['fare_amount'] , axis=1)
df.head()

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2011-10-21 23:54:10 UTC,-73.990580,40.761071,-73.981128,40.758634,2
1,2015-02-03 10:42:03 UTC,-73.988403,40.723431,-73.989647,40.741695,1
2,2014-03-16 18:58:58 UTC,-74.015785,40.715110,-74.012029,40.707888,2
3,2009-06-13 16:10:54 UTC,-73.977322,40.787275,-73.958030,40.778838,3
4,2014-06-12 03:25:56 UTC,-73.989683,40.729717,-73.982490,40.761887,3

In [28]:
df.pickup_datetime = pd.to_datetime(df.pickup_datetime)
# df['pickup_datetime'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S UTC'))

In [24]:
# 時間特徵分解方式:使用datetime
df['pickup_year'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%Y')).astype('int64')
df['pickup_month'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%m')).astype('int64')
df['pickup_day'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%d')).astype('int64')
df['pickup_hour'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%H')).astype('int64')
df['pickup_minute'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%M')).astype('int64')
df['pickup_second'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%S')).astype('int64')


df.head()

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_year,pickup_month,pickup_day,pickup_hour,pickup_minute,pickup_second
0,2011-10-21 23:54:10,-73.990580,40.761071,-73.981128,40.758634,2,2011,10,21,23,54,10
1,2015-02-03 10:42:03,-73.988403,40.723431,-73.989647,40.741695,1,2015,2,3,10,42,3
2,2014-03-16 18:58:58,-74.015785,40.715110,-74.012029,40.707888,2,2014,3,16,18,58,58
3,2009-06-13 16:10:54,-73.977322,40.787275,-73.958030,40.778838,3,2009,6,13,16,10,54
4,2014-06-12 03:25:56,-73.989683,40.729717,-73.982490,40.761887,3,2014,6,12,3,25,56

In [25]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df_temp = df.drop(['pickup_datetime'] , axis=1)
scaler = MinMaxScaler()
train_X = scaler.fit_transform(df_temp)
Linear = LinearRegression()
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
GDBT = GradientBoostingRegressor()
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

/Users/jimmy_kuo/anaconda3/envs/venv/lib/python3.7/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

Linear Reg Score : 0.026876871475641616
Gradient Boosting Reg Score : 0.7101528888867124

# 作業1
* 對照範例，試著加入星期幾 (day of week) 與第幾周 (week of year) 這兩項特徵，  
看看結果會比原本只有時間特徵分解的結果更好或更差?

In [29]:
# 加入星期幾與第幾周兩個特徵
df['pickup_year'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%Y')).astype('int64')
df['pickup_month'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%m')).astype('int64')
df['pickup_day'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%d')).astype('int64')
df['pickup_hour'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%H')).astype('int64')
df['pickup_minute'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%M')).astype('int64')
df['pickup_second'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%S')).astype('int64')
df['pickup_dayofweek'] = df.pickup_datetime.dt.dayofweek
df['pickup_weekofyear'] = df.pickup_datetime.dt.week

df.head()

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_year,pickup_month,pickup_day,pickup_hour,pickup_minute,pickup_second,pickup_dayofweek,pickup_weekofyear
0,2011-10-21 23:54:10,-73.990580,40.761071,-73.981128,40.758634,2,2011,10,21,23,54,10,4,42
1,2015-02-03 10:42:03,-73.988403,40.723431,-73.989647,40.741695,1,2015,2,3,10,42,3,1,6
2,2014-03-16 18:58:58,-74.015785,40.715110,-74.012029,40.707888,2,2014,3,16,18,58,58,6,11
3,2009-06-13 16:10:54,-73.977322,40.787275,-73.958030,40.778838,3,2009,6,13,16,10,54,5,24
4,2014-06-12 03:25:56,-73.989683,40.729717,-73.982490,40.761887,3,2014,6,12,3,25,56,3,24

In [30]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df_temp = df.drop(['pickup_datetime'] , axis=1)
train_X = scaler.fit_transform(df_temp)
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

/Users/jimmy_kuo/anaconda3/envs/venv/lib/python3.7/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

Linear Reg Score : 0.026481023863712937
Gradient Boosting Reg Score : 0.7097419134518033

In [31]:
# 加上"日週期"特徵 (參考講義"週期循環特徵")
import math
df['day_cycle'] = df['pickup_hour']/12 + df['pickup_minute']/720 + df['pickup_second']/43200
df['day_cycle'] = df['day_cycle'].map(lambda x:math.sin(x*math.pi))
df.head()

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_year,pickup_month,pickup_day,pickup_hour,pickup_minute,pickup_second,pickup_dayofweek,pickup_weekofyear,day_cycle
0,2011-10-21 23:54:10,-73.990580,40.761071,-73.981128,40.758634,2,2011,10,21,23,54,10,4,42,-0.025450
1,2015-02-03 10:42:03,-73.988403,40.723431,-73.989647,40.741695,1,2015,2,3,10,42,3,1,6,0.333601
2,2014-03-16 18:58:58,-74.015785,40.715110,-74.012029,40.707888,2,2014,3,16,18,58,58,6,11,-0.967083
3,2009-06-13 16:10:54,-73.977322,40.787275,-73.958030,40.778838,3,2009,6,13,16,10,54,5,24,-0.888817
4,2014-06-12 03:25:56,-73.989683,40.729717,-73.982490,40.761887,3,2014,6,12,3,25,56,3,24,0.782427

In [32]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df_temp = df.drop(['pickup_datetime'] , axis=1)
train_X = scaler.fit_transform(df_temp)
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

/Users/jimmy_kuo/anaconda3/envs/venv/lib/python3.7/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

Linear Reg Score : 0.026080352293789643
Gradient Boosting Reg Score : 0.7176168179540552

# 作業2
* 對照範例的日週期效果，試著參考投影片完成年週期與周週期的特徵 (也可以用你自己想到的方式)，  
看看結果會比範例中的結果更好或更差?

In [ ]:
# 加上"年週期"與"周週期"特徵

In [36]:
# seconds_in_day = 24*60*60
week_in_year = 52
day_in_week = 7

df['sin_week'] = np.sin(2*np.pi*df.pickup_weekofyear/week_in_year)
df['cos_week'] = np.cos(2*np.pi*df.pickup_weekofyear/week_in_year)
df['sin_dayofweek'] = np.sin(2*np.pi*df.pickup_dayofweek/day_in_week)
df['cos_dayofweek'] = np.cos(2*np.pi*df.pickup_dayofweek/day_in_week)


df.head()

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_year,pickup_month,pickup_day,pickup_hour,pickup_minute,pickup_second,pickup_dayofweek,pickup_weekofyear,day_cycle,sin_week,cos_week,sin_dayofweek,cos_dayofweek
0,2011-10-21 23:54:10,-73.990580,40.761071,-73.981128,40.758634,2,2011,10,21,23,54,10,4,42,-0.025450,-0.935016,0.354605,-0.433884,-0.900969
1,2015-02-03 10:42:03,-73.988403,40.723431,-73.989647,40.741695,1,2015,2,3,10,42,3,1,6,0.333601,0.663123,0.748511,0.781831,0.623490
2,2014-03-16 18:58:58,-74.015785,40.715110,-74.012029,40.707888,2,2014,3,16,18,58,58,6,11,-0.967083,0.970942,0.239316,-0.781831,0.623490
3,2009-06-13 16:10:54,-73.977322,40.787275,-73.958030,40.778838,3,2009,6,13,16,10,54,5,24,-0.888817,0.239316,-0.970942,-0.974928,-0.222521
4,2014-06-12 03:25:56,-73.989683,40.729717,-73.982490,40.761887,3,2014,6,12,3,25,56,3,24,0.782427,0.239316,-0.970942,0.433884,-0.900969

In [44]:
df.sort_values('pickup_datetime')

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,pickup_year,pickup_month,pickup_day,pickup_hour,pickup_minute,pickup_second,pickup_dayofweek,pickup_weekofyear,day_cycle,sin_week,cos_week,sin_dayofweek,cos_dayofweek
2743,2009-01-01 19:58:00,-74.003380,40.706528,-73.999935,40.741720,1,2009,1,1,19,58,0,3,1,-0.870356,1.205367e-01,0.992709,0.433884,-0.900969
2251,2009-01-02 13:04:05,-73.989430,40.753172,-73.981222,40.741460,1,2009,1,2,13,4,5,4,1,-0.275987,1.205367e-01,0.992709,-0.433884,-0.900969
594,2009-01-02 19:52:00,-73.976487,40.751042,-73.989805,40.735645,5,2009,1,2,19,52,0,4,1,-0.882948,1.205367e-01,0.992709,-0.433884,-0.900969
4905,2009-01-02 21:22:00,-73.991363,40.750758,-73.943285,40.675778,1,2009,1,2,21,22,0,4,1,-0.636078,1.205367e-01,0.992709,-0.433884,-0.900969
2535,2009-01-04 12:36:00,-73.980695,40.733843,-73.989718,40.756655,2,2009,1,4,12,36,0,6,1,-0.156434,1.205367e-01,0.992709,-0.781831,0.623490
2868,2009-01-07 22:48:00,-73.991362,40.750560,-73.967860,40.798890,1,2009,1,7,22,48,0,2,2,-0.309017,2.393157e-01,0.970942,0.974928,-0.222521
2179,2009-01-08 10:27:00,-73.954883,40.767520,-73.971298,40.764492,1,2009,1,8,10,27,0,3,2,0.394744,2.393157e-01,0.970942,0.433884,-0.900969
955,2009-01-08 12:07:37,-74.005767,40.750963,-73.984377,40.759232,1,2009,1,8,12,7,37,3,2,-0.033228,2.393157e-01,0.970942,0.433884,-0.900969
4849,2009-01-09 19:33:46,-73.953283,40.778685,-73.966444,40.772178,2,2009,1,9,19,33,46,4,2,-0.917466,2.393157e-01,0.970942,-0.433884,-0.900969
786,2009-01-10 00:06:10,0.000000,0.000000,0.000000,0.000000,1,2009,1,10,0,6,10,5,2,0.026904,2.393157e-01,0.970942,-0.974928,-0.222521
415,2009-01-11 02:15:00,-73.974715,40.752935,-73.981862,40.751533,1,2009,1,11,2,15,0,6,2,0.555570,2.393157e-01,0.970942,-0.781831,0.623490
3647,2009-01-11 04:07:11,-73.995004,40.739238,-73.992652,40.763637,1,2009,1,11,4,7,11,6,2,0.881269,2.393157e-01,0.970942,-0.781831,0.623490
4319,2009-01-11 09:53:00,-73.969913,40.794937,-73.949852,40.822025,5,2009,1,11,9,53,0,6,2,0.526214,2.393157e-01,0.970942,-0.781831,0.623490
3271,2009-01-11 17:16:00,-73.991568,40.727093,-73.980267,40.742587,1,2009,1,11,17,16,0,6,2,-0.981627,2.393157e-01,0.970942,-0.781831,0.623490
4055,2009-01-11 18:09:28,-73.943579,40.778275,-73.943045,40.777972,2,2009,1,11,18,9,28,6,2,-0.999147,2.393157e-01,0.970942,-0.781831,0.623490
180,2009-01-12 07:20:00,-74.006078,40.745115,-74.014227,40.713898,1,2009,1,12,7,20,0,0,3,0.939693,3.546049e-01,0.935016,0.000000,1.000000
1672,2009-01-12 17:45:52,-73.986621,40.771714,-73.956021,40.767619,2,2009,1,12,17,45,52,0,3,-0.998099,3.546049e-01,0.935016,0.000000,1.000000
3956,2009-01-13 08:20:01,-73.961237,40.770200,-73.955960,40.782142,1,2009,1,13,8,20,1,1,3,0.819110,3.546049e-01,0.935016,0.781831,0.623490
1905,2009-01-17 04:30:42,-73.949992,40.776161,-73.982813,40.742250,1,2009,1,17,4,30,42,5,3,0.925044,3.546049e-01,0.935016,-0.974928,-0.222521
2882,2009-01-17 15:24:52,-73.952398,40.789772,-73.978567,40.787716,1,2009,1,17,15,24,52,5,3,-0.779520,3.546049e-01,0.935016,-0.974928,-0.222521
1917,2009-01-17 15:53:27,-73.984321,40.759351,-73.979831,40.781013,1,2009,1,17,15,53,27,5,3,-0.851384,3.546049e-01,0.935016,-0.974928,-0.222521
2993,2009-01-17 16:42:00,-73.951538,40.777987,-73.950108,40.772163,5,2009,1,17,16,42,0,5,3,-0.942641,3.546049e-01,0.935016,-0.974928,-0.222521
2333,2009-01-19 17:32:00,-73.984060,40.742492,-73.974063,40.748578,2,2009,1,19,17,32,0,0,4,-0.992546,4.647232e-01,0.885456,0.000000,1.000000
4460,2009-01-19 17:57:00,-73.965711,40.758767,-73.986088,40.734904,1,2009,1,19,17,57,0,0,4,-0.999914,4.647232e-01,0.885456,0.000000,1.000000
2814,2009-01-22 00:26:56,-73.979306,40.753705,-73.801637,40.715565,1,2009,1,22,0,26,56,3,4,0.117249,4.647232e-01,0.885456,0.433884,-0.900969
4615,2009-01-23 13:17:00,-73.978952,40.760437,-73.974030,40.751287,1,2009,1,23,13,17,0,4,4,-0.329691,4.647232e-01,0.885456,-0.433884,-0.900969
7,2009-01-23 20:38:16,-73.982279,40.764668,-73.990323,40.756427,1,2009,1,23,20,38,16,4,4,-0.770884,4.647232e-01,0.885456,-0.433884,-0.900969
4894,2009-01-24 03:11:01,-73.991309,40.765355,-73.959360,40.809103,1,2009,1,24,3,11,1,5,4,0.740267,4.647232e-01,0.885456,-0.974928,-0.222521
3273,2009-01-24 05:12:39,-73.950767,40.771034,-73.979979,40.730288,1,2009,1,24,5,12,39,5,4,0.978733,4.647232e-01,0.885456,-0.974928,-0.222521
1326,2009-01-25 20:16:12,-73.988905,40.723117,-74.000645,40.728612,1,2009,1,25,20,16,12,6,4,-0.828549,4.647232e-01,0.885456,-0.781831,0.623490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4728,2015-06-11 15:10:43,-73.987053,40.750996,-73.975594,40.759659,5,2015,6,11,15,10,43,3,24,-0.739386,2.393157e-01,-0.970942,0.433884,-0.900969
706,2015-06-11 18:50:03,-73.874428,40.774010,-73.920265,40.764168,1,2015,6,11,18,50,3,3,24,-0.976249,2.393157e-01,-0.970942,0.433884,-0.900969
3868,2015-06-12 00:53:03,-73.985542,40.760376,-73.844933,40.716354,1,2015,6,12,0,53,3,4,24,0.229413,2.393157e-01,-0.970942,-0.433884,-0.900969
1521,2015-06-12 04:53:49,-73.949677,40.780865,-73.993660,40.758881,1,2015,6,12,4,53,49,4,24,0.958592,2.393157e-01,-0.970942,-0.433884,-0.900969
4774,2015-06-13 03:38:46,-74.007751,40.740593,-74.011688,40.709522,1,2015,6,13,3,38,46,5,24,0.816054,2.393157e-01,-0.970942,-0.974928,-0.222521
3408,2015-06-14 15:25:09,-73.874382,40.773945,-73.946007,40.780369,1,2015,6,14,15,25,9,6,24,-0.780294,2.393157e-01,-0.970942,-0.781831,0.623490
1985,2015-06-15 10:44:23,-73.959351,40.771725,-73.961662,40.774349,1,2015,6,15,10,44,23,0,25,0.323986,1.205367e-01,-0.992709,0.000000,1.000000
124,2015-06-15 20:49:38,-73.872833,40.774239,-74.003876,40.740273,1,2015,6,15,20,49,38,0,25,-0.738357,1.205367e-01,-0.992709,0.000000,1.000000
2982,2015-06-16 23:10:49,-73.969887,40.689491,-73.906967,40.711658,1,2015,6,16,23,10,49,1,25,-0.212959,1.205367e-01,-0.992709,0.781831,0.623490
1273,2015-06-18 12:57:35,-73.970215,40.764584,-73.967232,40.769974,2,2015,6,18,12,57,35,3,25,-0.248619,1.205367e-01,-0.992709,0.433884,-0.900969
4014,2015-06-18 14:40:02,-74.005165,40.739990,-73.989243,40.768108,5,2015,6,18,14,40,2,3,25,-0.642899,1.205367e-01,-0.992709,0.433884,-0.900969
3767,2015-06-18 15:37:05,-73.987885,40.718624,-73.801262,40.672634,1,2015,6,18,15,37,5,3,25,-0.811786,1.205367e-01,-0.992709,0.433884,-0.900969
3664,2015-06-18 20:16:03,-73.997620,40.741066,-74.008408,40.711681,1,2015,6,18,20,16,3,3,25,-0.828916,1.205367e-01,-0.992709,0.433884,-0.900969
3524,2015-06-19 04:28:02,-73.980377,40.734253,-73.984863,40.747688,1,2015,6,19,4,28,2,4,25,0.920562,1.205367e-01,-0.992709,-0.433884,-0.900969
3043,2015-06-20 01:35:35,-73.987442,40.765503,-73.980743,40.744743,2,2015,6,20,1,35,35,5,25,0.405075,1.205367e-01,-0.992709,-0.974928,-0.222521
3197,2015-06-20 17:33:38,0.000000,0.000000,0.000000,0.000000,1,2015,6,20,17,33,38,5,25,-0.993389,1.205367e-01,-0.992709,-0.974928,-0.222521
1206,2015-06-21 19:36:34,-73.977280,40.751278,-73.964554,40.755020,1,2015,6,21,19,36,34,6,25,-0.912537,1.205367e-01,-0.992709,-0.781831,0.623490
3157,2015-06-22 09:19:30,-73.974785,40.758587,-73.990158,40.751102,3,2015,6,22,9,19,30,0,26,0.644457,-3.216245e-16,-1.000000,0.000000,1.000000
2446,2015-06-22 20:06:24,-73.988876,40.777233,-73.993004,40.768291,1,2015,6,22,20,6,24,0,26,-0.851727,-3.216245e-16,-1.000000,0.000000,1.000000
4277,2015-06-22 20:29:02,-73.991409,40.750046,-74.008888,40.712250,1,2015,6,22,20,29,2,0,26,-0.795914,-3.216245e-16,-1.000000,0.000000,1.000000
1477,2015-06-23 08:55:07,-73.953911,40.766518,-73.991768,40.768875,1,2015,6,23,8,55,7,1,26,0.722012,-3.216245e-16,-1.000000,0.781831,0.623490
396,2015-06-23 14:59:19,-73.972244,40.759190,-73.975639,40.755413,1,2015,6,23,14,59,19,1,26,-0.704995,-3.216245e-16,-1.000000,0.781831,0.623490
1506,2015-06-24 19:44:54,-73.978699,40.756798,-73.990242,40.723225,1,2015,6,24,19,44,54,2,26,-0.897066,-3.216245e-16,-1.000000,0.974928,-0.222521
1475,2015-06-25 11:48:57,-73.969292,40.768646,-73.974709,40.780052,1,2015,6,25,11,48,57,3,26,0.048196,-3.216245e-16,-1.000000,0.433884,-0.900969
1284,2015-06-25 14:46:48,-73.782349,40.644623,-73.991020,40.739487,4,2015,6,25,14,46,48,3,26,-0.665230,-3.216245e-16,-1.000000,0.433884,-0.900969
509,2015-06-25 20:51:55,-73.997620,40.761959,-74.016701,40.715591,5,2015,6,25,20,51,55,3,26,-0.731602,-3.216245e-16,-1.000000,0.433884,-0.900969
577,2015-06-26 17:53:24,-73.964500,40.776180,-73.962532,40.764492,1,2015,6,26,17,53,24,4,26,-0.999585,-3.216245e-16,-1.000000,-0.433884,-0.900969
4214,2015-06-27 01:03:09,-74.006554,40.743893,-73.951431,40.779381,1,2015,6,27,1,3,9,5,26,0.272070,-3.216245e-16,-1.000000,-0.974928,-0.222521
3711,2015-06-27 02:36:55,-73.988914,40.722027,-73.985275,40.745045,2,2015,6,27,2,36,55,5,26,0.632424,-3.216245e-16,-1.000000,-0.974928,-0.222521
462,2015-06-28 22:38:41,-74.002075,40.737907,-73.973953,40.748211,1,2015,6,28,22,38,41,6,26,-0.347413,-3.216245e-16,-1.000000,-0.781831,0.623490

In [47]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df_temp = df.drop(['pickup_datetime'] , axis=1)
train_X = scaler.fit_transform(df_temp)
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

/Users/jimmy_kuo/anaconda3/envs/venv/lib/python3.7/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

Linear Reg Score : 0.025491028187643948
Gradient Boosting Reg Score : 0.713060730252072